

<!-- #todo -->
<%= devise_error_messages! %>



<div class="be-wrapper be-login be-signup">
  <div class="be-content">
    <div class="main-content container-fluid">
      <div class="splash-container sign-up">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
          <div class="panel-heading"><img src="<%= image_path('logo.png') %>" alt="logo" width="102" height="27" class="logo-img"><span class="splash-description">Please enter your user information.</span></div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <span class="splash-title xs-pb-20">Sign Up</span>
<!--                   <div class="form-group">
                <input type="text" name="nick" required="" placeholder="Username" autocomplete="off" class="form-control">
              </div> -->
              <div class="form-group">
                <input type="email" name="user_email" required="" placeholder="E-mail" autocomplete="off" autofocus="true" class="form-control">
              </div>
              <div class="form-group row signup-password">
                <div class="col-xs-6">
                  <input id="pass1" name="user_password" type="password" placeholder="Password" required="" class="form-control">
                </div>
                <div class="col-xs-6">
                  <input required="" name="user_password_confirmation" placeholder="Confirm" class="form-control">
                </div>
              </div>
              <div class="form-group xs-pt-10">
                <button type="submit" class="btn btn-block btn-primary btn-xl">Sign Up</button>
              </div>
              <div class="title"><span class="splash-title xs-pb-15">Or</span></div>

              <div class="row text-center">
                <%= render "devise/shared/links" %>
              </div>

              <!-- Social login buttons -->
<!--               <div class="form-group row social-signup">
                <div class="col-xs-6">
                  <button type="button" class="btn btn-lg btn-block btn-social btn-facebook btn-color"><i class="mdi mdi-facebook icon icon-left"></i> Facebook</button>
                </div>
                <div class="col-xs-6">
                  <button type="button" class="btn btn-lg btn-block btn-social btn-google-plus btn-color"><i class="mdi mdi-google-plus icon icon-left"></i> Google Plus</button>
                </div>
              </div> -->

              <div class="form-group xs-pt-10">
<!--                     <div class="be-checkbox">
                  <input type="checkbox" id="remember">
                  <label for="remember">By creating an account, you agree the <a href="#">terms and conditions</a>.</label>
                </div> -->
              </div>
            <% end %>
          </div>
        </div>
        <div class="splash-footer">© 2016 <%= Rails.configuration.app_name %></div>
      </div>
    </div>
  </div>
</div>